<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/contactUs.css">
	<title>联系我们</title>
</head>
<body>
	<div class="contactUs" style="padding-top: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12" align="center">
					<h3 class="contactUs_h3">联系我们</h3>
					<span>开放时间  周一至周五 9:00-17:00</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 contactUsDiv">
					<a href="#" class="contactUsDiv_a">
						<div class="contactUsDivSon">
							<div class="contactUsDivSon_icon">
								<br>
								<i class="fa fa-map-marker contactUsDivSon_icon_i"></i>
							</div>
							<div class="contactUsDivSon_info">
								<br>
								<h4>公司地址</h4>
								<p>四川省乐山市高新区高新孵化园A区</p>
							</div>
						</div>
					</a>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 contactUsDiv">
					<a href="#" class="contactUsDiv_a">
						<div class="contactUsDivSon">
							<div class="contactUsDivSon_icon">
								<br>
								<i class="fa fa-phone contactUsDivSon_icon_i"></i>
							</div>
							<div class="contactUsDivSon_info">
								<br>
								<h4>联系方式</h4>
								<p>18728871721</p>
								<p>0833-2595989</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 contactUsDiv">
					<a href="#" class="contactUsDiv_a">
						<div class="contactUsDivSon">
							<div class="contactUsDivSon_icon">
								<br>
								<i class="fa fa-envelope-o contactUsDivSon_icon_i"></i>
							</div>
							<div class="contactUsDivSon_info">
								<br>
								<h4>邮箱</h4>
								<p>lszdkc@163.com</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 footer">
					<p>© 2010-2019中德科技股份有限公司 | 版权所有</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
